/* Arquivo da aula 5 */
h1{
    border: 5px;
    color: black;
    background-color: deepskyblue;
    text-align: center;
    height:50px;
    width:500px;
    margin: left;
}   

.Div1 {
    border: 10px blue;
    background-color: deepskyblue;
    text-align: center;
    height:100px;
    width:700px;
    margin: auto;
}
    